.viewport {
	fill: none;
	stroke: none;  /* set to grey if border to be shown else none */
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
}
.axis text {
   	font-family: sans-serif;
   	font-size: 12px;
    text-anchor: middle;
}
circle {
    opacity: 0.4;
    stroke: black;
    /*r: 5;*/
    /*fill: blue;*/
}
.yearline {
  fill: none;
  stroke-width: 1.5px;
}